.membership .section77{
    margin-top: 283px;
    background: #E6E6E6;
    position: relative;
    left: -5vw;
    width: 100vw;
    padding: 51px;
    margin-top: 240px;
}
.membership .contact img{
    max-width: 100%;
}